#define HOLD_TAP(NAME, FLAVOR, TERM, ...) \
  NAME: NAME##_hold_tap { \
      compatible      = "zmk,behavior-hold-tap"; \
      #binding-cells  = <2>; \
      tapping-term-ms = <TERM>; \
      quick-tap-ms    = <0>; \
      flavor          = #FLAVOR; \
      bindings        = <&kp>, <&kp>; \
      __VA_ARGS__ \
  };

&lt {
    flavor = "balanced";
    tapping-term-ms = <150>;
};

/ {
  behaviors {
    HOLD_TAP(hm_o, tap-preferred, 150)
    HOLD_TAP(hm_m, tap-preferred, 140)
    HOLD_TAP(hm_i, tap-preferred, 130)

   td: tapdance {
      compatible = "zmk,behavior-hold-tap";
      label = "TAPDANCE";
      #binding-cells = <2>;
      tapping-term-ms = <150>;
      quick_tap_ms = <0>;
      flavor = "tap-preferred";
      bindings = <&kp>, <&kp>;
    };
  };
};

