/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include "keypos_def/30keys.h"

#define THUMB_COMBOS

#include "utilities.dtsi"
#include "mouse.dtsi"
#include "behaviors.dtsi"
#include "combos.dtsi"
#include "macros.dtsi"

/ {
    /*                KEY POSITIONS

         0   1   2   3   4      5   6   7   8   9
        10  11  12  13  14     15  16  17  18  19
            20  21  22             23  24  25
                    26  27     28  29              */

  keymap {
    compatible = "zmk,keymap";

    default {
      display-name = "DEF";
      bindings = <
      &kp Q         &kp W         &kp F          &kp P          &kp B            &kp J         &kp L          &kp U          &kp Y            &kp BSPC 
      &hm_o LGUI A  &hm_o LALT R  &hm_m LCTL S   &hm_i LSHFT T  &kp G            &kp K         &hm_i RSHFT N  &hm_m RCTL E   &hm_o LALT I     &hm_o RGUI O 
                    &hm_m RALT X  &td U_CPY C    &kp D                                         &kp COMMA      &kp DOT        &hm_m RALT APOS
                                                 &lt MOUSE TAB  &lt NAV SPC      &lt SYM ESC   &lt NUM RET
                                                 
      >;
    };

    navigation {
      display-name = "NAV";
      bindings = <
      &trans    &trans    &trans     &trans     &trans    &kp U_RDO  &kp U_PST  &kp U_CPY  &kp U_CUT  &kp U_UND
      &kp LGUI  &kp LALT  &kp LCTRL  &kp LSHFT  &trans    &kp LEFT   &kp DOWN   &kp UP     &kp RIGHT  &kp END
                &kp RALT  &trans     &none                           &kp PG_DN  &kp PG_UP  &kp END
                                     &trans     &trans    &kp RET    &kp BSPC
      >;
    };

    mouse {
      display-name = "MOUSE";
      bindings = <
      &trans    &trans    &trans     &trans     &trans    &kp U_RDO       &kp U_PST       &kp U_CPY     &kp U_CUT        &kp U_UND
      &kp LGUI  &kp LALT  &kp LCTRL  &kp LSHFT  &trans    &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_UP  &mmv MOVE_RIGHT  &trans
                &kp RALT  &trans     &none                                &msc SCRL_DOWN  &msc SCRL_UP  &msc SCRL_RIGHT
                                     &trans     &trans    &mkp MB2        &mkp MB1
      >;
   };

    media {
      display-name = "MEDIA";
      bindings = <
      &trans    &trans    &trans     &trans     &trans    &bt BT_CLR     &kp C_BRI_DN  &kp C_BRI_UP  &bt BT_SEL 0       &bt BT_SEL 1
      &kp LGUI  &kp LALT  &kp LCTRL  &kp LSHFT  &trans    &kp C_PREV     &kp C_VOL_DN  &kp C_VOL_UP  &kp C_NEXT         &kp LC(LS(BSLH))
                &kp RALT  &trans     &none                               &kp PSCRN     &kp LA(PSCRN) &kp LA(LS(LC(R)))
                                     &trans     &trans    &kp C_STOP     &kp C_PP
      >;
    };

    numbers {
      display-name = "NUM";
      bindings = <
      &kp LBKT   &kp N7  &kp N8   &kp N9  &kp RBKT     &trans  &kp N7     &kp N8     &kp N9    &kp N0
      &kp SEMI   &kp N4  &kp N5   &kp N6  &kp EQUAL    &trans  &kp N4     &kp N5     &kp N4    &kp RET
                 &kp N1  &kp N2   &kp N3                       &kp N1     &kp N2     &kp N3
                                  &kp N0  &kp MINUS    &trans  &trans
      >;
    };

    symbols {
      display-name = "SYM";
      bindings = <
      &kp LBRC   &kp AMPERSAND  &kp ASTERISK  &kp LPAR   &kp RBRC     &trans  &trans     &trans     &trans    &trans
      &kp COLON  &kp DOLLAR     &kp PERCENT   &kp CARET  &kp PLUS     &trans  &kp RSHFT  &kp RCTRL  &kp LALT  &kp RGUI
                 &kp EXCL       &kp AT_SIGN   &kp HASH                        &none    &trans     &kp RALT
                                              &kp RPAR   &kp UNDER    &trans  &trans
      >;
    };

    functions {
      display-name = "FUN";
      bindings = <
      &kp F12  &kp F7  &kp F8  &kp F9     &kp PSCRN          &trans  &trans     &trans     &trans    &trans
      &kp F11  &kp F4  &kp F5  &kp F6     &kp SCROLLLOCK     &trans  &kp RSHFT  &kp RCTRL  &kp LALT  &kp RGUI
               &kp F1  &kp F2  &kp F3                                &none      &trans     &kp RALT
                               &kp SPACE  &kp TAB            &trans  &trans
      >;
    };

    button {
      display-name = "BUT";
      bindings = <
      &kp U_UND  &kp U_CUT  &kp U_CPY  &kp U_PST  &kp U_RDO    &kp U_RDO  &kp U_PST  &kp U_CPY  &kp U_CUT  &kp U_UND
      &kp LGUI   &kp LALT   &kp LCTRL  &kp LSHFT  &trans       &trans     &kp RSHFT  &kp RCTRL  &kp LALT   &kp RGUI
                 &kp U_CUT  &kp U_CPY  &kp U_PST                          &kp U_PST  &kp U_CPY  &kp U_CUT
                                       &trans     &trans       &trans     &trans
      >;
    };
  };
};
