/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include "keypos_def/30keys.h"

#define BERYLLINE
#include "utilities.dtsi"
#include "mouse.dtsi"
#include "behaviors.dtsi"
#include "combos.dtsi"
#include "macros.dtsi"


/ {

/*   30 KEY MATRIX / LAYOUT MAPPING

  ╭─────────────────────┬─────────────────────╮
  │ LT4 LT3 LT2 LT1 LT0 │ RT0 RT1 RT2 RT3 RT4 │
  │ LM4 LM3 LM2 LM1 LM0 │ RM0 RM1 RM2 RM3 RM4 │
  ╰───╮ LB3 LB2 LB1     │     RB1 RB2 RB3 ╭───╯
      ╰───────╮ LH1 LH0 │ RH0 RH1 ╭───────╯
              ╰─────────┴─────────╯             */
  cond_layers {
      compatible = "zmk,conditional-layers";
      mouse_layer {
          if-layers = <SYM NUM>;
          then-layer = <MOUSE>;
      };

      fun_layer {
          if-layers = <NAV MEDIA>;
          then-layer = <FUN>;
      };
  };

  keymap {
    compatible = "zmk,keymap";

    default {
      display-name = "DEF";
      bindings = <
      &kp Q         &kp W         &kp F          &kp P          &kp B            &kp J         &kp L          &kp U          &kp Y            &kp BSPC 
      &hm_o LGUI A  &hm_o LALT R  &hm_m LCTL S   &hm_i LSHFT T  &kp G            &kp K         &hm_i RSHFT N  &hm_m RCTL E   &hm_o LALT I     &hm_o RGUI O 
                    &hm_o RALT X  &hm_o U_CPY C  &kp D                                         &kp H          &kp COMMA      &hm_o RALT DOT        
                                                 &lt SYM TAB  &lt NAV SPC        &lt MEDIA ESC &lt NUM RET
      >;
    };
    
    polish {
      display-name = "POL";
      bindings = <
      &kp Q         &kp W         &kp F          &kp P          &kp B            &kp J         &kp L          &kp U          &kp Y            &kp BSPC 
      &hm_o LGUI A  &hm_o LALT R  &hm_m LCTL S   &hm_i LSHFT T  &kp G            &kp K         &hm_i RSHFT N  &hm_m RCTL E   &hm_o LALT I     &hm_o RGUI O 
                    &hm_o RALT Z  &hm_o U_CPY C  &hm_o U_PST D                                 &kp M          &kp COMMA      &hm_o RALT DOT        
                    
                                                 &trans     &trans               &trans     &trans
      >;

    };

    navigation {
      display-name = "NAV";
      bindings = <
      &trans    &trans    &trans     &trans     &kp U_PST &kp U_RDO  &none         &kp U_CPY  &kp U_CUT  &kp U_UND
      &kp LGUI  &kp LALT  &kp LCTRL  &kp LSHFT  &trans    &trans     &kp LEFT   &kp DOWN   &kp UP     &kp RIGHT
                &kp RALT  &trans     &none                           &kp PG_DN  &kp PG_UP  &kp END
                                     &trans     &trans    &trans     &trans
      >;
    };

    media {
      display-name = "MEDIA";
      bindings = <
      &kp PSCRN     &kp C_BRI_UP  &kp C_BRI_DN  &none         &none               &trans     &trans     &trans     &trans     &trans
      &kp LA(PSCRN) &kp C_VOL_DN  &kp C_VOL_UP  &kp C_STOP    &none               &trans     &kp LSHFT  &kp LCTRL  &kp LALT  &kp LGUI
                    &kp C_PREV    &kp C_NEXT    &kp C_PP                          &none      &trans     &kp RALT
                                                &trans     &trans    &trans          &trans
      >;
    };

    numbers {
      display-name = "NUM";
      bindings = <
      &kp TAB   &kp TILDE &kp LPAR   &kp RPAR  &kp UNDER   &kp MINUS  &kp N7     &kp N8     &kp N9    &kp EQUAL
      &none     &kp PIPE  &kp LBRC   &kp RBRC  &kp PLUS    &kp N0     &kp N4     &kp N5     &kp N6    &kp RET
                &kp GRAVE &kp LBKT   &kp RBKT                         &kp N1     &kp N2     &kp N3
                                     &trans     &trans    &trans          &trans
      >;
    };

    symbols {
      display-name = "SYM";
      bindings = <
      &kp EXCL   &kp AT         &kp HASH      &kp DOLLAR &kp PRCNT    &kp CARET &kp AMPS &kp STAR   &kp SEMI  &kp COLON  
      &inv_qm    &kp GRAVE      &kp SQT       &kp DQT    &none        &trans  &kp RSHFT  &kp RCTRL  &kp LALT  &kp RGUI
                 &kp QMARK      &kp AT_SIGN   &kp BSLH                        &none      &trans     &kp RALT
                                              &trans     &trans               &trans     &trans
      >;
    };

    functions {
      display-name = "FUN";
      bindings = <
      &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2  &kp PSCRN      &none          &kp F8         &kp F9     &kp F10   &kp F11   &kp F12 
      &trans       &trans       &trans        &trans         &trans         &kp F3         &kp F4     &kp F5    &kp F6    &kp F7
                   &trans       &trans        &trans                                       &kp F1     &kp F2     &kp F3   
                                              &rst_boot 0 0  &trans         &trans          &rst_boot 0 0 
      >;
    };

    mouse {
      display-name = "MOUSE";
      bindings = <
      &none     &none     &none      &none      &kp U_PST &none           &mkp LCLK       &mkp RCLK       &kp U_RDO        &kp U_UND
      &kp LGUI  &kp LALT  &kp LCTRL  &kp LSHFT  &none     &none           &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_UP     &mmv MOVE_RIGHT 
                &kp RALT  &kp U_CPY  &none                                &msc SCRL_DOWN  &msc SCRL_UP    &msc SCRL_RIGHT
                                     &trans     &trans    &trans          &trans
      >;
    };

 

  };
};
