#define COMBO(NAME, BINDINGS, POSITIONS, LAYERS, TIMEOUT) \
  combo_##NAME { \
    bindings = <BINDINGS>; \
    key-positions = <POSITIONS>; \
    layers = <LAYERS>; \
    timeout-ms = <TIMEOUT>; \
  };

#define COMBO_TERM_FAST 20
#define COMBO_TERM_SLOW 200

/ {
  combos {
    compatible = "zmk,combos";

    #ifdef THUMB_COMBOS
      COMBO(thumb_esc, &lt 3 ESC, 30 31, DEF, COMBO_TERM_SLOW)
      COMBO(thumb_del, &lt 6 DEL, 32 33, DEF, COMBO_TERM_SLOW)
      COMBO(nav_del, &kp DEL, 32 33, NAV, COMBO_TERM_SLOW)
      COMBO(media_mute, &kp C_MUTE, 32 33, MEDIA, COMBO_TERM_SLOW)
      COMBO(mouse_bt3, &mkp MB3, 32 33, MOUSE, COMBO_TERM_SLOW)
      COMBO(num_dot, &kp DOT, 30 31, NUM, COMBO_TERM_SLOW)
      COMBO(sym_lpar, &kp LPAR, 30 31, SYM, COMBO_TERM_SLOW)
      COMBO(fun_app, &kp K_APP, 30 31, FUN, COMBO_TERM_SLOW)
    #endif

    #ifdef BOTTOM_COMBOS
      COMBO(def_rep, &key_repeat, 21 22, DEF NAV MOUSE NUM SYM, COMBO_TERM_FAST)
      COMBO(def_emb, &embark, 27 28, DEF NAV MOUSE NUM SYM, COMBO_TERM_FAST)
    #endif

    #ifdef BOTTOM_COMBOS_KYRIA
      COMBO(def_rep, &key_repeat, 21 22, DEF NAV MOUSE NUM SYM, COMBO_TERM_FAST)
      COMBO(def_emb, &embark, 31 32, DEF NAV MOUSE NUM SYM, COMBO_TERM_FAST)
    #endif

    #ifdef BERYLLINE_COMBOS
      COMBO(bottom_x, &lt BUT X, 20 21, DEF, COMBO_TERM_FAST)
      COMBO(bottom_v, &kp V, 21 22, DEF, COMBO_TERM_FAST)

      COMBO(bottom_k, &kp Q, 23 24, DEF, COMBO_TERM_FAST)
      COMBO(bottom_fslh, &lt BUT FSLH, 24 25, DEF, COMBO_TERM_FAST)

      COMBO(nav_n_lo, &none, 20 21, NAV, COMBO_TERM_FAST)
      COMBO(nav_n_li, &none, 21 22, NAV, COMBO_TERM_FAST)
      COMBO(nav_home, &kp HOME, 23 24, NAV, COMBO_TERM_FAST)
      COMBO(nav_ins, &kp INS, 24 25, NAV, COMBO_TERM_FAST)

      COMBO(mouse_n_lo, &none, 20 21, MOUSE, COMBO_TERM_FAST)
      COMBO(mouse_n_li, &none, 21 22, MOUSE, COMBO_TERM_FAST)
      COMBO(mouse_mscl, &msc SCRL_LEFT, 23 24, MOUSE, COMBO_TERM_FAST)
      COMBO(mouse_n_ro, &none, 24 25, MOUSE, COMBO_TERM_FAST)

      COMBO(media_n_lo, &none, 20 21, MEDIA, COMBO_TERM_FAST)
      COMBO(media_n_li, &none, 21 22, MEDIA, COMBO_TERM_FAST)
      COMBO(media_pscrn, &kp LS(PSCRN), 23 24, MEDIA, COMBO_TERM_FAST)
      COMBO(media_n_ro, &none, 24 25, MEDIA, COMBO_TERM_FAST)

      COMBO(num_grave, &kp GRAVE, 20 21, NUM, COMBO_TERM_FAST)
      COMBO(num_bslh, &kp BSLH, 21 22, NUM, COMBO_TERM_FAST)
      COMBO(num_n_ri, &none, 23 24, NUM, COMBO_TERM_FAST)
      COMBO(num_n_ro, &none, 24 25, NUM, COMBO_TERM_FAST)

      COMBO(sym_tilde, &kp TILDE, 20 21, SYM, COMBO_TERM_FAST)
      COMBO(sym_pipe, &kp PIPE, 21 22, SYM, COMBO_TERM_FAST)
      COMBO(sym_n_ri, &none, 23 24, SYM, COMBO_TERM_FAST)
      COMBO(sym_n_ro, &none, 24 25, SYM, COMBO_TERM_FAST)

      COMBO(fun_f10, &kp F10, 20 21, FUN, COMBO_TERM_FAST)
      COMBO(fun_pause, &kp PAUSE_BREAK, 21 22, FUN, COMBO_TERM_FAST)
      COMBO(fun_n_ri, &none, 23 24, FUN, COMBO_TERM_FAST)
      COMBO(fun_n_ro, &none, 24 25, FUN, COMBO_TERM_FAST)

      COMBO(but_undo_l, &kp U_UND, 20 21, BUT, COMBO_TERM_FAST)
      COMBO(but_redo_l, &kp U_RDO, 21 22, BUT, COMBO_TERM_FAST)
      COMBO(but_redo_r, &kp U_RDO, 23 24, BUT, COMBO_TERM_FAST)
      COMBO(but_undo_r, &kp U_UND, 24 25, BUT, COMBO_TERM_FAST)
    #endif
    
  };
};
