#define MACRO(NAME, BINDINGS) \
  NAME: NAME##_macro { \
    compatible = "zmk,behavior-macro"; \
    #binding-cells = <0>; \
    wait-ms = <30>; \
    tap-ms = <30>; \
    bindings = <BINDINGS>; \
  };

/ {
  macros {
    MACRO(other_w, &kp LC(X) &kp O)
  };
};
