#define MACRO(NAME, BINDINGS) \
  NAME: NAME##_macro { \
    compatible = "zmk,behavior-macro"; \
    #binding-cells = <0>; \
    wait-ms = <30>; \
    tap-ms = <30>; \
    bindings = <BINDINGS>; \
  };

/ {
  macros {
    MACRO(other_w, &kp LC(X) &kp O)
    ZMK_MACRO(inv_qm,
        wait-ms = <10>;
        tap-ms = <10>;
        bindings
            = <&macro_press &kp LALT>
            , <&macro_tap &kp KP_N1 &kp KP_N6 &kp KP_N8>
            , <&macro_release &kp LALT>;
    )
  };
};
